In [ ]:
import pandas as pd

In [ ]:
private = pd.read_csv('/content/drive/MyDrive/data science /EOS/Private_School.csv')

In [ ]:
charter = pd.read_csv('/content/drive/MyDrive/data science /EOS/Charter_School.csv')

In [ ]:
public = pd.read_csv('/content/drive/MyDrive/data science /EOS/Public_School.csv')

Fixing datasets

In [ ]:
charter.drop(columns = 'ID',inplace = True)

In [ ]:
public.drop(columns = 'ID',inplace = True)

In [ ]:
public.drop(columns = 'TYPE', inplace = True)

In [ ]:
charter.drop(columns = 'WEBSITE', inplace = True)

In [ ]:
public.drop(columns = 'REGION', inplace = True)

In [ ]:
private.drop(columns = 'TYPE', inplace = True)

In [ ]:
charter.drop(columns = 'CAMPUS', inplace = True)

In [ ]:
public.drop(columns = 'CAMPUS', inplace = True)

In [ ]:
private = private[[c for c in private if c not in ['DIRCTNAME', 'YEARESTB', 'CHLDCAREID']]
       + ['DIRCTNAME', 'YEARESTB','CHLDCAREID']]

In [ ]:
private.drop(columns = ['COED','STREGFLG'], inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

combining the datasets

In [ ]:
private['TYPE'] = 'Private'

<ipython-input-15-6d182227aa3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  private['TYPE'] = 'Private'

In [ ]:
charter['TYPE'] = 'Charter'

In [ ]:
public['TYPE'] = 'Public'

In [ ]:
private.rename(columns={'GRDLEVEL': 'GRADE'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
private['GRADE']

0      PK-12
1      PK-12
2      PK-04
3      PK-05
4      PK-KG
       ...
972    09-12
973    09-12
974    KG-12
975    07-12
976    PK-03
Name: GRADE, Length: 977, dtype: object

In [ ]:
charter['GRADE']

0         K-5
1       8-Jun
2         K-6
3       8-Jun
4      12-Jun
        ...
170    12-Sep
171    12-Sep
172    12-Sep
173    12-Sep
174     8-Jun
Name: GRADE, Length: 175, dtype: object

In [ ]:
public.rename(columns={'GRADES': 'GRADE'}, inplace = True)

In [ ]:
public['GRADE']

0      12-Sep
1       PK-10
2        PK-5
3        PK-5
4       8-Jun
        ...
437      PK-5
438      PK-5
439      PK-8
440      PK-3
441    12-Sep
Name: GRADE, Length: 442, dtype: object

In [ ]:
schools = pd.concat([private,charter,public])

Number of schools in miami dade

In [ ]:
schools['NAME'].count()

1594

number of schools per type of school

In [ ]:
schools.groupby('TYPE')['NAME'].count()

TYPE
Charter    175
Private    977
Public     442
Name: NAME, dtype: int64

total amount of students enrolled

In [ ]:
schools['ENROLLMENT'].sum()

429479.0

In [ ]:
schools.groupby('TYPE')['ENROLLMENT'].sum().round()

TYPE
Charter     48380.0
Private    105610.0
Public     275489.0
Name: ENROLLMENT, dtype: float64

In [ ]:
schools.to_csv('/content/drive/MyDrive/data science /EOS/schools.csv')

largest and smallest school by enrollment

In [ ]:
schools.groupby('NAME')['ENROLLMENT'].sum().sort_values(ascending = False).head(1)

NAME
John A. Ferguson Senior High    4162.0
Name: ENROLLMENT, dtype: float64

In [ ]:
schools.groupby('NAME')['ENROLLMENT'].sum().sort_values().head(1)

NAME
Creative Extended Care Center Inc    0.0
Name: ENROLLMENT, dtype: float64

nubmer of schools per city

In [ ]:
schools.groupby('CITY')['NAME'].count()

CITY
Aventura                6
Bay Harbor Islands      1
Biscayne Park           1
Coral Gables           29
Cutler Bay             17
Doral                  43
El Portal               2
Florida City           18
Hialeah               169
Hialeah                 1
Hialeah Gardens        21
Homestead              82
Key Biscayne            4
Medley                  1
Miami                 368
Miami Beach            28
Miami Gardens          79
Miami Lakes            26
Miami Shore             1
Miami Shores            8
Miami Springs          20
Miami-Dade            470
MiamiI Beach            6
MiamiI-Dade            46
North Bay Village       2
North Miami            38
North Miami Beach      34
Opa-Locka              21
Palmetto Bay           17
Pinecrest              14
South Miami            12
Sunny Isles Beach       1
Surfside                1
Sweetwater              1
Virginia Gardens        1
West Miami              2
Name: NAME, dtype: int64

Average size per type of school

In [ ]:
schools.groupby('TYPE')['ENROLLMENT'].mean().round()

TYPE
Charter    291.0
Private    140.0
Public     623.0
Name: ENROLLMENT, dtype: float64

In [ ]:
schools['ENROLLMENT'].mean().round()

315.0

enrollment per city

In [ ]:
schools.groupby('CITY')['ENROLLMENT'].mean()

CITY
Aventura               338.500000
Bay Harbor Islands    1438.000000
Biscayne Park                 NaN
Coral Gables           431.142857
Cutler Bay             344.352941
Doral                  422.151515
El Portal              361.000000
Florida City           159.083333
Hialeah                232.620000
Hialeah                 33.000000
Hialeah Gardens        544.000000
Homestead              251.446154
Key Biscayne           502.500000
Medley                   0.000000
Miami                  236.724000
Miami Beach            360.714286
Miami Gardens          245.109375
Miami Lakes            409.782609
Miami Shore            167.000000
Miami Shores           291.125000
Miami Springs          245.222222
Miami-Dade             362.552239
MiamiI Beach            55.000000
MiamiI-Dade            265.543478
North Bay Village      270.500000
North Miami            405.233333
North Miami Beach      274.160000
Opa-Locka              170.800000
Palmetto Bay           388.866667
Pinecrest              803.666667
South Miami            251.545455
Sunny Isles Beach     2090.000000
Surfside                      NaN
Sweetwater             552.000000
Virginia Gardens       283.000000
West Miami             246.000000
Name: ENROLLMENT, dtype: float64